* {

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Open Sans", sans-serif;
}
body *{
color: var(--text-color);
}

body {
	font-size: 1.6rem;

	background: var(--bg-url) no-repeat center center fixed;
	background-size: cover;
}


:root {

		font-size: 62.5%;
	--zoom-in: 1.2;
  --text-color: white;
  --bg-url: url(../dark-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.25);
  --social-color: rgba(255, 255, 255, 0.2);
  --switch-button: url(../moon-stars2.svg);
}

.light {
  --text-color: black;
  --bg-url: url(../light-mobile.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.25);
  --social-color: rgba(0, 0, 0, 0.1);
  --switch-button: url(../sun-button.svg);
}




@font-face {
	font-family: "Neue Machina";
	src: url("/assets/fonts/neue-machina-regular.otf");
}

main {
	padding: 3rem 1rem;
	border: 2px solid white;
	border-radius: 16px;
	max-width: 800px;
}

/* Apply overlay scrollbars to the element with the "scroll-container" class */
.scroll-container {
  overflow: overlay;
}

/* Style the scrollbar */
::-webkit-scrollbar {
  width: 1rem;

}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color:#3d3a3a81;
  border-radius: .5rem;
}

