.header {
    display: flex;
    flex-direction: column;
    position: relative;
}

.header>i {
    position: absolute;
    right: 1.6rem;
    top: 1.6rem;
    font-size: 2.4rem;
}

i {
    color: rgb(176, 170, 170);

}

.header .photo {
    background: white;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #ffff;
    margin: auto;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    object-position: 23px -50px;
}


.header .title {
    font-family: 'Neue Machina';
    text-align: center;
}

.information {
    display: flex;
    flex-direction: column;
    margin-top: 3.2rem;
    width: fit-content;
    margin-left: 2.4rem;
}

.information p {

    margin: .5rem;
}

.information a {
    text-decoration: none;

}

h1 {

    width: fit-content;
    margin: auto;
    margin-top: 2.4rem;
}

@media only screen and (min-width:768px) {

    .header {
        display: grid;
        grid-template-areas:
            " title photo"
            " information photo"
        ;

        gap: 3.2rem;
    }

    .header .photo {
        grid-area: photo;
        margin: auto;
        margin-left: 0;
        margin-top: 8rem;
    }

    .header .title {
        grid-area: title;
        margin: auto;
        margin-right: 0;
        margin-top: 8rem;

    }

    .header .information {
        grid-area: information;
        margin: auto;
        margin-right: 5vw;
    }

    main {
        margin: auto;
        margin-top: 10vh;
    }
}